<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="com.example.springbootwithlogbook.SelfJsonLayout">
            <jsonFormatter
                    class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <appendLineSeparator>true</appendLineSeparator>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>

    </appender>

    <root level="INFO">
        <appender-ref ref="json"/>
    </root>
</configuration>